:root {
  --color-theme-light: #c2d9ff;
  --color-theme-normal: #8e8ffa;
  --color-theme-medium: #7752fe;
  --color-theme-dark: #190482;
  --color-slate-medium: #1e293b;
  --color-slate-dark: #0f172a;
  --color-slate-darker: #020617;
  --color-slate-white: #f8fafc;
  --color-slate-light: #cbd5e1;
  --color-slate-muted: #475569;
  --color-input-text: white;
  --input-radius: 5px;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  background-color: var(--color-slate-white);
  -webkit-font-smoothing: antialiased;
  color: var(--color-slate-dark);
  font-size: 14px;
  line-height: 21px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: normal;
}

footer {
  margin-top: auto;
}

nav,
footer,
main {
  padding: 0.75rem 1rem;
}

@media (min-width: 640px) {
  nav,
  footer,
  main {
    padding: 0.75rem 2.5rem;
  }
}

@media (min-width: 768px) {
  nav,
  footer,
  main {
    padding: 0.75rem 4rem;
  }
}

@media (min-width: 1024px) {
  nav,
  footer,
  main {
    padding: 0.75rem 6rem;
  }
}

@media (min-width: 1280px) {
  nav,
  footer,
  main {
    padding: 0.75rem 14rem;
  }
}

@media (min-width: 1536px) {
  nav,
  footer,
  main {
    padding: 0.75rem 22rem;
  }
}
