.input_container {
  background-color: var(--color-theme-light);
  border-radius: var(--input-radius);
  height: 2.5rem;
  color: var(--color-theme-dark);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 0.25rem 1rem;
  font-size: medium;
}

.input_container::placeholder {
  color: var(--color-slate-muted);
  opacity: 0.75;
}

.input_range_container {
  accent-color: var(--color-slate-darker);
}
